<!--
  This template loads for the 'tab.romain-detail' state (app.js)
  'romain' is a $scope variable created in the operationsCtrl controller (controllers.js)
  The romainsCtrl pulls data from the operations service (service.js)
  The romains service returns an array of operation data
-->
<ion-view title="{{ romain.details.name }}">
    <ion-content has-header="true" padding="true">
        <form ng-submit="verify(answer)">
            <div class="list">
                <div class="item item-divider">
                    {{ romain.title }}
                </div>
                <label class="item">
                    <span class="element">{{ romain.elem }}</span>
                </label>
                <div class="item">
                    <input autofocus class="result" ng-model="answer.result" type="text" placeholder="Résultat ? " data-result="{{ romain.result }}">
                    <br><button type="submit" class="button button-block button-positive">{{ buttonText }}</button>
                </div>
            </div>
    </ion-content>
</ion-view>
