/* Empty. Add your own CSS if you like */
/*
    EmojiSymbols Font (c)blockworks - Kenichi Kaneko
    http://emojisymbols.com/
*/
@font-face {
    font-family: "EmojiSymbols";
    src: url('/fonts/EmojiSymbols-Regular.woff') format('woff');
    text-decoration: none;
    font-style: normal;
}
.emj {
    font-family: "EmojiSymbols";
    line-height: 1;
}
input.invalid {
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}

input.valid {
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

.element {
    padding-left:2em;
}

.operator {
    padding-left:1.1em;
}

